
:root {
    /* defining global vars */
    --primary-color-light: #FCF46D;
    --secondary-color-light: #FEFABA;
    --accent-color: #6D75FC;

    --primary-color-dark: #596e79;
    --secondary-color-dark: #255873;
    --misc-color: #c7b198;

}

body {
    /*background-color: var(--primary-color);*/
    padding-top: 15em;
}

.bgn-light {
    background-color: var(--secondary-color-light); /*!important;*/
}

/*todo consider changing*/
/*a.bg-light:hover, a.bg-light:focus,*/
/*button.bg-light:hover,*/
/*button.bg-light:focus {*/
/*  background-color: #dae0e5 !important;*/
/*}*/

.bgn-dark {
    background-color: var(--primary-color-light) /*!important;*/
}

/*todo consider changing*/
/*a.bg-dark:hover, a.bg-dark:focus,*/
/*button.bg-dark:hover,*/
/*button.bg-dark:focus {*/
/*  background-color: #1d2124 !important;*/
/*}*/


/*.jumbotron {*/
/*    max-height: 13em !important;*/
/*    !*padding: 5em;!* inherit;*!*!*/
/*    !*    height: 20%  !important;*!*/
/*    !*    width: 20%  !important;*!*/

/*}*/

/*.size-20 {*/
/*  height: 20%;*/
/*  !*background: #aaa;*!*/
/*}*/


/* Create a sticky/fixed navbar */
.navbar {
    /*overflow: hidden;*/
    padding: 30px 10px 30px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.2s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    text-align: left;
}

/* Style the logo */
.navbar .logo {
    max-height: 15em;
    /*font-size: 35px;*/
    /*font-weight: bold;*/
    transition: 0.2s;
}
