venv
.idea
#/images
/pies
#/misc/*.py
#/misc/*.js
/misc/fonts-and-icons
#/misc/getfromdb
.idea/web_lib_project.iml
.idea/misc.xml
__pycache__/
.bash_history
.bashrc
.gitconfig
.local/
.profile
.pythonstartup.py
.vimrc
.virtualenvs/