# flask~=1.1.2
# Flask-SQLAlchemy
mysql-connector-python # this is for the option to run 'db.createall()' which is a one-off
pandas
# SQLAlchemy~=1.3.19
numpy
# flask_wtf~=0.14.3

# all the next are for wtf forms
# # should run these before 'pip install mysqlclient' :
# #   sudo apt-get install mysql-server
# #   sudo apt-get install libmysqlclient-dev

# WTForms~=2.3.3
mysqlclient
# PyMySQL~=0.10.1
# regex~=2020.9.27
# requests~=2.24.0
# natsort
# DateTime~=4.3
Pillow
# email_validator
# WTForms-Components
#     <!--original-->
#     <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
#     <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
#     <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
#     <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

python-dotenv
