flask
Flask-SQLAlchemy

mysql-connector-python # this is for the option to run 'db.createall()' which is a one-off

# # should run these before 'pip install mysqlclient' :
# #   sudo apt-get install mysql-server
# #   sudo apt-get install libmysqlclient-dev
# mysqlclient
# # MySQLdb
# pymysql
# pandas
# numpy
# regex
# natsort
# requests
# datetime
# # PIL
# # Pillow
# Image


#     <!--original-->
#     <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
#     <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
#     <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
#     <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
