{% extends 'layout.html' %}

{% block app_content %}
    {#  container-fluid #}


    <form method="post" action='{{ url_for('check_check') }}'>
        {#        {{ form1.hidden_tag() }}#}

        {#        {{ form1.checkbox }}#}
        {#        {{ form1.checkbox.label }}#}
        {#        {{ form1.example }}#}
        {#        {{ form1.list_field_item }}#}
        {#        {{ form1.authors }}#}
        {#        {{ form1.list_field }}#}
        {#        ^^^^^^^^^^^^^^^^^^^^^^^^^ <br>#}
        {#        {{ form1.list_field.data }}#}
        {#        ********************* <br>#}
        {#        {{ form1.list_field.label }}#}
        {#        -- <br>#}
        {#        {{ form1.list_field.check }}#}
        {#        ********************* <br>#}
        {#        {% for x in form1.list_field  %}#}
        {#                check: {{ x.form.check }}#}
        {#            <br>.................. <br>#}
        {#                bla: {{ x.bla }}#}
        {#            <br>-- <br>#}
        {##}
        {#        {% endfor %}#}
        <br><br>


        {% for item in ['option 1', 'option 2', 'option 3', 'option 4', 'option 5'] %}
            {{ checkbox_input(label=item, type="checkbox", id=item, name='item', value=item) }}
        {% endfor %}

        <button type="submit">Submit</button>
        <br><br><br>
        {% for item in printout %}
            {{ item }}<br>
        {% endfor %}

        {#    {{ data }}#}

    </form>


    <div class='container'>
        <h3>Test</h3>
        <form>
            <a href=# id=test>
                <button class='btn btn-default'>Test</button>
            </a>
        </form>

    </div>

{#    <script src='../static/js/script.js'></script>#}



{% endblock %}


{% macro checkbox_input(label="", type="text", id="", name="", value='' ) -%}
    <div class="form-group">
        <input type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}"
               value="val~{{ value }}">
        <label for="{{ id }}">{{ label }}</label>
    </div>
{%- endmacro %}



{#{% macro table(header, rows, columns) %}#}
{#    \begin{tabular}{(formatting, later)}#}
{#    {{ row(header) }}#}
{#    {% for row in rows %}#}
{#        {% for column in columns %}#}
{#            {{ caller(row, column) }} {% if loop.last %}\\{% else %}&{% endif %}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#    \end{tabular}#}
{#{% endmacro %}#}
{##}
{#{% call(row, column) table.table(header, rows, columns) %}#}
{#    Content at row = {{ row }}, column = {{ column }}#}
{#{% endcall %}#}

