{% extends 'layout.html' %}

{% block app_content %}
    {#  container-fluid #}
    {{ title }}
    <div class="container">
        <p class="padding-top-2 padding-bot-5">
            If you click on the button below You are about to ask the server to load raw scv files into the MySQL DB.
            <br>
            It's gonna take a loooong time to finish (if lucky). <br>
            Are you sure? </p>

        <span class="s01 padding-bot-5">
            {% if load_db_flag %}

                <button id="csv_to_mysql_btn">
                    Load DB from CSV
                </button>

            {% endif %}
        </span>
    </div>

    {#    <script src="../static/js/script.js"></script>#}
{% endblock %}
