{% extends 'layout.html' %}

{% block app_content %}

    <div class='container'>
        <h3>Test</h3>
        <form>
            <a href=# id=test_query>
                <button class='btn btn-default'>Test</button>
            </a>
        </form>
    </div>

    <div class="s01 display-4">
        {% for x in motototo %}
            {{ x }}
        {% endfor %}
    </div>

    <h1>Highly Valid</h1>


    <div class="padding-5">

        {% for x in list1 %}
            {{ x }}<br>
            {% for u,v in x.books_dict.items() %}
                {#            {% for u,v in y.books_dict.items() %}#}
                U: {{ u }}<br>
                V: {{ v }}<br>
            {% endfor %}
        {% endfor %}

    </div>


    <h1>The Others</h1>


    <div class="padding-5">
        <h1>Total #result-titles: {{ dict2.__len__() }}</h1>
        {% for x,y in dict2.items() %}
            {{ x }}
            {{ y.__repr__() }}<br>
            {% for u,v in y.books_dict.items() %}
                {#            {% for u,v in y.books_dict.items() %}#}
                U: {{ u }}<br>
                V: {{ v }}<br>
            {% endfor %}
            <br>
        {% endfor %}
    </div>

    {#
    {% for item in ['option 1', 'option 2', 'option 3', 'option 4', 'option 5'] %}
        {{ checkbox_input(label=item, type="checkbox", id=item, name='item', value=item) }}
    {% endfor %}





    {#    <script src='../static/js/script.js'></script>#}



{% endblock %}


{% macro checkbox_input(label="", type="text", id="", name="", value='' ) -%}
    <div class="form-group">
        <input type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}"
               value="val~{{ value }}">
        <label for="{{ id }}">{{ label }}</label>
    </div>
{%- endmacro %}



{#{% macro checkbox_input(label="", type="text", id="", name="", value='' ) -%}#}
{#    <div class="form-group">#}
{#        <input type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}"#}
{#               value="val~{{ value }}">#}
{#        <label for="{{ id }}">{{ label }}</label>#}
{#    </div>#}
{#{%- endmacro %}#}


{#{% macro table(header, rows, columns) %}#}
{#    \begin{tabular}{(formatting, later)}#}
{#    {{ row(header) }}#}
{#    {% for row in rows %}#}
{#        {% for column in columns %}#}
{#            {{ caller(row, column) }} {% if loop.last %}\\{% else %}&{% endif %}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#    \end{tabular}#}
{#{% endmacro %}#}
{##}
{#{% call(row, column) table.table(header, rows, columns) %}#}
{#    Content at row = {{ row }}, column = {{ column }}#}
{#{% endcall %}#}

