{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <style>
        .navbar-nav {
            background-color: var(--primary-color-light);
        }

        .navbar-default {
            background-color: var(--primary-color-light);
        }
    </style>
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default bgn-light">
        {#    <nav class="navbar navbar-default navbar-expand-md navbar-light bgn-light sticky-top">#}
        {#        <img class="img-fluid " id="logo" src="../static/favicon.ico"#}
        {#             alt="h.c.m.h logo">#}
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <strong>Tiresias</strong>
                </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    {#                <span class="navbar-toggler-icon"></span>#}
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="/#about-hook">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {#                    {% if current_user.is_anonymous %}#}
                    <li class="nav-item"><a class="nav-link" href="../book-indices">Sources</a></li>
                    <li class="nav-item"><a class="nav-link" href="../subject-list">Subjects</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/#contact">Contact</a></li>
                    {#                        <li><a href="{{ url_for('book_indices') }}">Login</a></li>#}
                    {#                    {% else %}#}
                    {#                        <li><a href="{{ url_for('pipi', username=current_user.username) }}">Profile</a></li>#}
                    {#                        <li><a href="{{ url_for('book_indices') }}">Logout</a></li>#}
                    {#                    {% endif %}#}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="padding-5"></div>

{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else %}
        Tirsias - CSV to MYSQL
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}

            <div class="padding-5"></div>

            {% for i in range %}
                {{ i }}
                <br>
            {% endfor %}
        {% endblock %}
    </div>
    <script src="../../static/js/script.js"></script>
    <script src="../../static/js/gui.js"></script>
{% endblock %}
