
:root {
    /* defining global vars */
    --primary-color-light: #FCF46D;
    --secondary-color-light: #FEFABA;
    /*same but reversed the two colors*/
    /*--primary-color-light: #FEFABA;*/
    /*--secondary-color-light: #FCF46D;*/

    /*--primary-color-light: #35A; !*todo try these two!!*!*/
    /*--secondary-color-light: #295;*/

    --accent-color: #6D75FC;
    /*--accent-color: #7d4bfe;*/

    --primary-color-dark: #596e79;
    --secondary-color-dark: #255873;

    --misc-color: #c7b198;
    --font-color: #444; /*fixme font color not updating*/
}

@font-face {
    font-family: spectral;  /*todo consider Georgia for font family*/
    src: url("Spectral-Regular.ttf");
    /*src: url("/app/static/css/Spectral-Regular.ttf");*/
}

/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');*/
/*tbody tr:nth-child(odd) {background: #fafafa; }*/

html {
}

/* Sections
   ========================================================================== */
body {
    padding-top: 7.5em;
    /*background-color: var(--primary-color-light);*/
    color: var(--font-color);
    font-family: spectral, sans-serif;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

footer {
    background-color: #3f3f3f;
    color: #a9a9a9;
    padding-top: 2rem;
}

footer a {
    color: lightgrey;
}

footer button {
    color: lightgrey;
    background-color: dimgrey;
    width: 100%;
    margin-bottom: 2rem;
}

/* Elements
   ========================================================================== */

/** Image **/


/* Buttons
   ========================================================================== */
.btn-primary {
    background-color: var(--accent-color);
    border: 1px solid var(--misc-color);
}

.btn-primary:hover {
    background-color: var(--misc-color);
    border: 1px solid var(--misc-color);
}

#top_btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: var(--accent-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 45px;
    font-weight: bold;
}

#top_btn:hover {
    background-color: #555;
}

.fetch-submit-btn {
    margin-right: 5%;
    padding: 1em 4em 1em 4em;
    position: sticky;
    float: right
}

.btn-rounded {
    border-radius: 1em;
}

.add-btn {
    margin-bottom: 4em;
}

/*  Radio Buttons   */
.inline-radio:hover {
    background-color: var(--misc-color);
}

.inline-radio {
    /*display:  inline;*/
    /*padding-right: 2em;*/
    vertical-align: middle;
    /*float: left;*/
    transform: scale(2);
    /*margin: 1em;*/
    /*background-color: var(--accent-color);*/
    margin-right: 1em
}

.inline-radio-span {
    margin-left: 2em;
    display: inline-block;
    padding-bottom: 2em;
}

.inline-radio-label {
    vertical-align: middle;
    font-size: 1.5em
}

.inline-label {
    padding-right: 2em;
    vertical-align: middle;
    /*float: left;*/
    transform: scale(2);
}

/* General
   ========================================================================== */
.bgn-light {
    background-color: var(--primary-color-light);
}

.bgn-light-second {
    background-color: var(--secondary-color-light);
}

.bgn-dark {
    background-color: var(--primary-color-dark);
}

.bgn-dark-second {
    background-color: var(--secondary-color-dark);
}

.color-accent {
    color: var(--accent-color);
}

hr.light {
    border-top: 1px solid lightgrey;
    width: 75%;
    margin-top: .8em;
    margin-bottom: 1em;
}

hr.light-100 {
    border-top: 1px solid lightgrey;
    width: 100%;
    margin-top: .8em;
    margin-bottom: 1em;
}

[class*="col-"] { /*--- Bootstrap Padding Fix --*/
    padding: 1em;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

/*
!* already in bootstrap! *!
.text-center {
    text-align: center;
}
!* already in bootstrap! *!
.text-left {
    text-align: left;
}
!* already in bootstrap! *!
.float-right {
    float: right;
}
*/

.float-top {
    float: top;
}

.margin-left-1r {
    margin-left: 1em;
}

.margin-2r {
    margin: 2em;
}

.position-rel {
    position: relative;
}

.padding-top-1 { /* todo consider padding all around */
    padding-top: 1em;
}

.padding-top-2 { /* todo consider padding all around */
    padding-top: 2em;
}

.padding-top-5 { /* todo consider padding all around */
    padding-top: 5em;
}

.padding-bot-1 { /* todo consider padding all around */
    padding-bottom: 1em;
}

.padding-bot-2 { /* todo consider padding all around */
    padding-bottom: 2em;
}

.padding-bot-5 { /* todo consider padding all around */
    padding-bottom: 5em;
}

.padding-left-2 { /* todo consider padding all around */
    padding-left: 2em;
}

.padding-right-2 { /* todo consider padding all around */
    padding-right: 2em;
}

.padding-1 {
    padding: 1em;
}

.padding-5 {
    padding: 5em;
}

.category-padding {
    padding: 1em 2em 3em 3em;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.max-h-15r {
    max-height: 15em;
}

/* Navbar
   ========================================================================== */
.nav-link {
    font-size: 1.1em !important;
}

.navbar {
    /*overflow: hidden;*/
    /*padding: 10px 10px 10px 10px; !* Large padding which will shrink on scroll (using JS) *!*/
    padding: .8em; /*****    NOTE: bootstrap uses rem as a default    ?? ********/
    transition: 0.2s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    text-align: left;
    display: inline-block;
    float: left;
}

.navbar-nav li {
    padding-right: 20px;
}

/* Style the logo */
.navbar #logo {
    max-height: 5em;
    width: auto;
    margin: 1em;
    transition: 0.2s;
    display: inline;
    /*margin-right: 2em;*/
    /*margin-left: 1em;*/
    /*font-size: 35px;*/
    /*font-weight: bold;*/
}

.navbar-collapse h1 #navbar-subtitle {
    display: none;
}

.navbar-collapse h1 #navbar-title-h1-id {
    font-size: 3rem !important;
    /*transform: scale(2);*/
    /*}*/
    /*    !*-ms-flex-preferred-size: 100%;*!*/
    /*    !*flex-basis: 100%;*!*/
    /*    !*-webkit-box-flex: 1;*!*/
    /*    !*-ms-flex-positive: 1;*!*/
    /*    !*flex-grow: 1;*!*/
    /*    !*-webkit-box-align: center;*!*/
    /*    !*-ms-flex-align: center;*!*/
    align-items: center;
}

.navbar-default {
    background-color: var(--primary-color-light);
}

/* Head Title
   ========================================================================== */
.head-title {
    width: 75%;
    margin: 0 auto;
    padding-top: .5em;
    /*font-size: 2em;*/

}

.head-title hr {
    border-top: 2px solid #b4b4b4;
    width: 90%;
    /*margin-top: .3em;*/
    /*margin-bottom: .5em;*/
}


/*  Forms (Search Bar & Filters)
   ========================================================================== */


/*#switch{ !*for the 'Fetch full text' checkbox in the filter form*!*/
/*    margin: 10px;*/
/*}*/


.search-bar-content {
    width: fit-content;
    background-color: var(--secondary-color-light);
    /*position: absolute;*/
    /*width: auto; !* optional *!*/
    /*height: auto; !* optional *!*/
}

.list-inline-item input
    /*.search-bar-item*/
{
    height: 3em;
    margin: 1rem;
    display: block;
    position: relative;
    /*border-color: var(--secondary-color-light);*/
    /*border-color: var(--secondary-color-dark);*/
    /*border-color: var(--primary-color-dark);*/
    /*border-color: var(--primary-color-light);*/
    border-radius: .25rem;
    /*-webkit-border-radius: 5%;*/
    border-width: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    min-width: 90px;
    /*-moz-outline-radius: 5%;*/
    /*border: none;*/
    /*border-block-color: #00aced;*/
    /*background-color: var(--accent-color);*/
    /*color: var(--accent-color);*/
    /* https://stackoverflow.com/questions/5903112/is-it-really-impossible-to-make-a-div-fit-its-size-to-its-content */
    /* http://jsfiddle.net/XgErJ/4 */
}

.filter-form {
    display: inline;
}

.filter-section {
    padding: 1em 1em 2em 1em;
}

.filter-sub-section {
    padding-bottom: 1em;
}

.search-bar {
    display: inline-block;
}

.search-bar-kt {
    /*background: rgba(0, 0, 0, 0.5);*/
    /*background: var(--accent-color); !*KT*!*/
    background: var(--secondary-color-light); /*KT*/
    /*margin-right: -15px;!*KT*!*/
    margin-left: 0px; /*KT*/
    padding: 50px 47px;
    display: -ms-flexbox; /*KT*/
    display: flex; /*KT*/
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    -ms-flex-align: center;
    /*align-items: center;*/
    align-items: unset; /*KT*/
}

.search-bar-item {
}

form #filtering input {
    max-width: 10em;
    /*background-color: #1b1e21;*/
    /*border-color: #0b2e13;*/
    border-width: 4px;
}

/* Fixed background
   ========================================================================== */
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0c/The_Bible_-_that_is_the_Holy_Scriptures_conteined_in_the_Old_and_New_Testament%3B_translated_according_to_the_Ebrew_and_Greeke%2C_and_conferred_with_the_best_translations_in_divers_languages_%281615%29_%2814588244199%29.jpg'); !*KT*!*/
    background-image: url('../images/lib-4-noncom-reuse.jpg'); /*KT*/
    /*background-image: url('../static/images/lib-4-noncom-reuse.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/* Carousel & Jumbotron
   ========================================================================== */
.carousel-inner img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-img {
    max-width: 90%;
    padding-left: 7em;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--accent-color); /*KT*/
}

.carousel-caption h1 {
    font-size: 300%; /*KT*/
    /*font-size: 500%;*/
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;

}

.carousel-caption h3 {
    font-size: 150%; /*KT*/
    /*font-size: 200%;*/
    font-weight: 500;
    /*text-transform: uppercase;*/
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1em;
}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
    background-color: var(--secondary-color-light);
}

/*.jumbotron {*/
/*    max-height: 13em !important;*/
/*    !*padding: 5em;!* inherit;*!*!*/
/*    !*    height: 20%  !important;*!*/
/*    !*    width: 20%  !important;*!*/
/*}*/


/* Misc.
   ========================================================================== */

.lead { /* Paragraph */
    text-align: justify;
}

.fun { /* The button for the hidden section */
    /*width: 90%;*/
    /*margin-bottom: 2em;*/
    /*align-content: center;*/
    /*alignment: center;*/
    /*align-items: center;*/
    /*align-self: center;*/
    padding-left: 5em;
    background-color: var(--accent-color);
}

.gif {
    max-width: 100%;
}

.refsite-logos { /*the logos on the first page in the if you build it section*/
    max-height: 2em
}

.social a {
    font-size: 4.5em;
    padding: 3em;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #b00;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #d5d5d5;
}


/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2em;
    }

    #navbar-title-h1-id { /*KT*/
        font-size: 3em;
        padding-left: 3em;
        transition: 400ms;
        /*font-size: initial;*/
    }

    #navbar-subtitle { /*KT*/
        /*font-size: 0.75em;*/
        display: none;
        transition: 400ms;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 350%;
    }

    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2em;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }

    .display-4 {
        font-size: 200%;
    }

    .social a {
        font-size: 2.5em;
        padding: 1.2em;
    }

    #logo { /*KT*/
        /*max-height: 5em;*/
        /*max-width: 10%;*/
        /*max-height: 10%;*/
        /*height: 5em;*/
        /*height: auto\9;*/
        /*transition: 0.2s;*/
        /*display: none;*/
        /*display: block;*/
        /*transition: 400ms;*/
        /*transform: scale(1);*/
        /*margin-top: 0;*/
    }

    #navbar-title-h1-id { /*KT*/
        font-size: 3em;
        padding-left: 3em;
        transition: 400ms;
    }

    #navbar-subtitle { /*KT*/
        /*font-size: 0.75em;*/
        display: none;
        /*transition: 400ms;*/

    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }

    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-caption h3 {
        font-size: 110%;
    }

    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }

    .carousel-indicators {
        display: none;
    }

    .display-4 {
        font-size: 160%;
    }

    .social a {
        font-size: 2em;
        padding: .7em;
    }

    #logo { /*KT*/
        /*max-height: 5em;*/
        /*max-width: 10%;*/
        /*max-height: 10%;*/
        /*/*height: 10%;*/
        /*height: auto\9;*/
        /*    transition: 0.2s;*/
        /*display: none;*/
        /*transform: scale(0.5);*/
        /*transition: 400ms;*/
    }

    #navbar-title-h1-id { /*KT*/
        font-size: 3em;
        margin-left: 3em;
        /*transform: scale(0.5);*/

    }

    #navbar-subtitle { /*KT*/
        /*transform: scale(0.5);*/

        /*font-size: 1em;*/
        /*margin-left: 1em;*/
        /*/*display: inline;*/
        /*transition: 400ms;*/

    }
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/***********************************************************/
/***********************************************************/


/*todo consider changing*/
/*a.bg-light:hover, a.bg-light:focus,*/
/*button.bg-light:hover,*/
/*button.bg-light:focus {*/
/*  background-color: #dae0e5 !important;*/
/*}*/

/*todo consider changing*/
/*a.bg-dark:hover, a.bg-dark:focus,*/
/*button.bg-dark:hover,*/
/*button.bg-dark:focus {*/
/*  background-color: #1d2124 !important;*/
/*}*/

