{#  a button that disappears when clicked, showing `text` instead   #}
{% macro disappearing_btn(text, rbtn_id='refsbtn', relm_id='refs', class='') -%}
    <button class='{{ class }} btn-rounded disappring-btn '
            data-toggle='collapse'
            data-target='#{{ relm_id }}'
            id="{{ rbtn_id }}"
    >{{ text }}</button>
{%- endmacro %}

{#  ====    Macros for Search Results   ====    #}
{% macro ref_books_list(books_dict) -%}
    <div class='padding-1'>
        {% for bib, book in books_dict.items() %}
            <div class='padding-bot-1'>
                <em><strong>{{ book.title_full.title }}</strong></em>
                <span class='padding-1'> pages:
                    {% for page in book.pages -%}
                        {% if book.title_full.gcode %}
                            {% set glink = 'https://books.google.co.il/books?id='+book.title_full.gcode
                                            +'&lpg=PP1&pg=PA'+page|string+'#v=onepage&q&f=false' %}
                        {% endif %}
                        <a href={{ glink|value_or_empty }} target="_blank"> {{ page }} </a>
                        {% if not loop.last %}, {% endif %}
                    {%- endfor %}
                    </span>
            </div>
        {% endfor %}
    </div>
{%- endmacro %}


{% macro result_item(res, index = 0) -%}
    {% set relm_id='refs'~res.num %}
    {% set rbtn_id='refsbtn'~res.num %}
    <div class="container-fluid">
        {#  Result Title    #}
        <h4 class='display-inline'> {{ index }}. <em>{{ res.title }} </em> - {{ res.author }} </h4>

        {#  More Info BTN   #}
        <a
                {#                href='#info_{{ res.num }}'#}
                class='btn btn-sm btn-primary float-right'
                data-toggle='collapse'
                data-target=#info_{{ res.num }}
        >
            For more information </a>

        {#  Referencing Books   #}
        <h6 class='padding-1'>
            Referenced in {{ res.books_dict|length }} book{% if 1<res.books_dict|length -%}s{% endif -%} :</h6>
        {{ ref_books_list(res.books_dict) }}

        {#  More Info   #}
        <div class='collapse ' id='info_{{ res.num }}'>
            <div class='row'>
                {#  Subjects    #}
                <div class='small col-10 margin-2r'>
                    <h6>Tagged with subjects:</h6>
                    <p> {% for subject in res.subjects -%}
                        <strong class='padding-1'> &middot; </strong> {{ subject }}
                    {%- endfor %} <strong class='padding-1'> &middot; </strong></p>
                </div>
                {#  References (Numbers) (BTN)  #}
                <div class='padding-bot-2 padding-left-2 col-1'>
                    {{ disappearing_btn( text='references:', rbtn_id = rbtn_id, relm_id = None, class='btn-sm float-right refbtn') }}
                    {#                    {{ disappearing_btn( text='references:', rbtn_id = rbtn_id, relm_id = relm_id, class='btn-sm float-right') }}#}
                </div>
            </div>
            {#  References (Numbers) #}
            <em class='collapse inline padding-left-2' id={{ relm_id }}> {{ res.refs }} </em>
        </div>
    </div>
{%- endmacro %}

{#  Category Title Macro    #}
{% macro category_head(category='', id='', res_num='', value='') -%}
    <div class='container-fluid padding-bot-2 popover_category' id='{{ id }}'>
        <h1 class='col-12 bgn-light-second'>{{ category }} {{ res_num }}</h1>
    </div>
{%- endmacro %}

{#  Search Form field    #}
{% macro search_field(field) -%}
    <div class="list-inline-item">
        {{ field }}
        {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{%- endmacro %}

{#  Tables Macro #}
{% macro table_macro(title='<thead>', head_row=(), tuple_list=[()] ) -%}
    {% set col_num = head_row|length %}
    {% set len = tuple_list|length %}
    <div class="container-fluid padding-table padding-bot-2">
    <h3 class="padding-1"> {{ title }} </h3>
        <table class='table table-hover'>
            <thead>
            {% for i in range(col_num) %}
                <td>{{ head_row[i] }}</td>
            {% endfor %}
            </thead>
            <tbody>
            {% for tuple in tuple_list %}
                <tr>
                    {% for i in range(col_num) %}
                        <td>{{ tuple[i] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="small">
            <tr>
                <td>Total</td>
                <td>{{ len }} Result{% if 1<len -%}s{% endif %}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
{%- endmacro %}



{#  ====    Macros for ????   ====    #}

<!-- Result Checkbox List Item Macro -->
{% macro checkbox_input(label='', id='', name='', value='') -%}
    <div class='form-group custom-control custom-switch text-left'>
        {#        <input type='{{ type }}' class='form-control' id='{{ id }}' name='{{ name }}'#}
        <input type='checkbox' class='custom-control-input' id='{{ id }}' name='{{ name }}'
               value="{{ value }}" checked>
        <label for='{{ id }}' class='custom-control-label padding-bot-2'>{{ label }}</label>
    </div>
{%- endmacro %}

<!-- Result Subject Checkbox List -->
{% if total %}
    <div class='container'>
        <div class='form-group padding-bot-2 col-9'>
            {# Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding. #}
            {#  --   Select All  --   #}
            <div class='custom-control custom-switch text-left'>
                <input type='checkbox' class='custom-control-input' id='checkAll' checked
                       onClick='filter_check_all(this)'>
                <label class='custom-control-label padding-bot-2' for='checkAll'>
                    <em><strong>Select All the Results</strong></em><br>
                </label>
                <form action='#' method='POST'>
                    {#  --   The Result subjects  --   #}
                    {% for item in results %}
                        {{ checkbox_input(label=item.subject, id=item.subject, name='filter-opt', value=item.C) }}<br>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endif %}
