<!--Filtering-->

{#<!--      Filter Options Button    -->#}
<button class="s01 btn-primary" data-toggle="collapse" data-target="#filtering" type="button">
    Advanced Search Options
</button>

{#<!--      hidden filtering section    -->#}
<div class="s01">
    <!-- s01 should appear in a parent element of collapse, so it would use the correct css rule for form-->
    <div id="filtering" class="collapse ">
        <div class="container-fluid container padding-bot-2 ">
            <div class="row text-center bgn-light-second ">
                {{ search_bar['filter_form'].hidden_tag() }}

                <!-- filter by sub-subject options-->
                <div class="col-md-6 col-lg-4 filter-section">
                    <h5 class="head-title col-form-label-lg">
                        Filter by<br>Sub-subject
                    </h5>
                    <hr>
                    <div class="padding-1 padding-left-2" style="align-content: center">
                        {{ search_bar['filter_form'].includes.label }}
                        {% for i in search_bar['filter_form'].includes %}
                            {{ i }}
                        {% endfor %}
                        <button class="add-btn margin-2r" id="add-include" type="button"> +</button>
                    </div>
                    <div class="padding-1 padding-left-2">
                        {{ search_bar['filter_form'].excludes.label }}
                        {% for i in search_bar['filter_form'].excludes %}
                            {{ i }}
                        {% endfor %}
                        <button class="add-btn margin-2r" id="add-exclude" type="button"> +</button>
                    </div>
                </div>

                <!-- filter by text options-->
                <div class="col-md-6 col-lg-4 filter-section">
                    <h5 class="head-title col-form-label-lg ">
                        Filter by<br>Text
                    </h5>
                    <hr class="padding-bot-2">
                    <div class="padding-bot-2">
                        {{ search_bar['filter_form'].from_century.label }}
                        {{ search_bar['filter_form'].from_century }}
                    </div>
                    <div class="padding-bot-2">
                        {{ search_bar['filter_form'].to_century.label }}
                        {{ search_bar['filter_form'].to_century }}
                    </div>
                    <div class="padding-bot-2">
                        {{ search_bar['filter_form'].language.label }}
                        {{ search_bar['filter_form'].language }}
                    </div>
                </div>

                <!-- filter by reference options-->
                <div class="col-md-6 col-lg-4 filter-section">
                    <h5 class="head-title  col-form-label-lg">
                        Filter by<br>Reference
                    </h5>
                    <hr>
                    <div class="padding-bot-2">
                        {{ search_bar['filter_form'].ancient_author.label }} <br>
                        {{ search_bar['filter_form'].ancient_author }}
                    </div>
                    <div class="padding-bot-2">
                        {{ search_bar['filter_form'].ancient_title.label }} <br>
                        {{ search_bar['filter_form'].ancient_title }}
                    </div>
                    <div class="padding-bot-2">
                        {{ search_bar['filter_form'].reference.label }} <br>
                        {{ search_bar['filter_form'].reference }}
                    </div>
                </div>

                <div class="text-left padding-5">
                    {{ search_bar['filter_form'].fetch_full }}
                    <span class="margin-2r"> {{ search_bar['filter_form'].fetch_full.label }} </span>
                    {#  {{ search_bar['filter_form'].attention_label }}#}
                    <p id="fetch_full_warn" class="display-block">
                        (Attention: Checking this box will attempt full text fetching,
                        <br>which can result in very highly loading times.)</p>
                </div>
                {# <input type="reset" class="btn btn-dark bottom-left">#}
            <div class="float-right" style="width: 100%">
            <button class="btn btn-dark" id="clear-filter" style="position: sticky; float: right ;"> Clear all fields</button>
            </div>
            </div>

        </div>
    </div>
</div>
