<!--Search Bar -->

<div class="container-fluid ">
    {#Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and
    padding. #}

    {############################}
    <!-- Radio search buttons -->
    {############################}
    {#    <div class='text-center padding-1r'>
    <span class="inline-radio-span">
        <input id="chkYes" class="inline-radio" type="radio" name="search-radio" checked/>
        <label for="chkYes" class="inline-radio-label">Search by Subject</label>
    </span>
    <span class="inline-radio-span">
        <input id="chkNo" class="inline-radio" type="radio" name="search-radio"/>
        <label for="chkNo" class="inline-radio-label">Search by Reference</label>
    </span>
    </div>
    #}{#    <div class='text-center'>
        <span class="inline-radio-span">{{ radio.r_field }}</span>
    </div>  #}


    {############################}
    {#      Search Fields       #}
    {############################}
    <!-- search by Subject  -->
    <div class="s01 flex-column">
        {% if hide_bar %}
            {% set collapse='collapse' %}
        {% endif %}
        <div class="row {{ collapse }} " id="search-subject">

            {% if home_flag %}
                {% set url=url_for('search_results') %}
            {% endif %}

            <form action='{{ url }}' method="POST">
                {{ search_bar['subject_form'].hidden_tag() }} {#csrf_token #}
                <div class="search-bar-kt form-inline container-fluid ">
                    <div class="list-inline-item">
                        {{ search_bar['subject_form'].subject_keyword_1 }}
                        {% if search_bar['subject_form'].subject_keyword_1.errors %}
                            <ul class="errors">
                                {% for error in search_bar['subject_form'].subject_keyword_1.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="list-inline-item">
                        {{ search_bar['subject_form'].subject_keyword_2 }}
                        {% if search_bar['subject_form'].subject_keyword_2.errors %}
                            <ul class="errors">
                                {% for error in search_bar['subject_form'].subject_keyword_2.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="list-inline-item">
                        {{ search_bar['subject_form'].submit_subject }}
                        {# <i class="fas fa-search"></i>#}
                        {# <input type=submit class="btn btn-primary" data-icon="search" content=" ">#}
                    </div>
                </div>

                {% if not hide_filter %}
                    {% include 'bar_filter.html' %}
                {% endif %}

            </form>
        </div>
    </div>


    {##############     search by Reference - hidden Section    ###############}
    {#
        <!-- search by Reference - hidden Section -->
        <div class="row display-none" id="search-ref" >
            <div class="s01">
                <form action="{{ url_for('search_results') }}" method="POST">
                    #}{#                <form action="{{ url_for('home') }}" method="POST">#}{#
                    #}{#                    {{ search_bar['reference_form'].csrf_token }} #}{#
                    {{ search_bar['reference_form'].hidden_tag() }}
                    <div class="inner-form ">
                        #}{# <div class="inner-form ">#}{#
                        <div class="list-inline-item search-bar-item input-field">
                            #}{#
                                    <div class="list-inline-item search-bar-item">#}{#
                            #}{# {{ search_bar['reference_form'].search_author.label }}#}{#
                            {{ search_bar['reference_form'].search_author }}
                            {% if search_bar['reference_form'].search_author.errors %}
                                <ul class="errors">
                                    {% for error in search_bar['reference_form'].search_author.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="list-inline-item search-bar-item input-field">
                            #}{# {{ search_bar['reference_form'].search_work.label }}#}{#
                            {{ search_bar['reference_form'].search_work }}
                            {% if search_bar['reference_form'].search_work.errors %}
                                <ul class="errors">
                                    {% for error in search_bar['reference_form'].search_work.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="list-inline-item search-bar-item input-field">
                            #}{# {{ search_bar['reference_form'].search_reference.label }}#}{#
                            {{ search_bar['reference_form'].search_reference }}
                            {% if search_bar['reference_form'].search_reference.errors %}
                                <ul class="errors">
                                    {% for error in search_bar['reference_form'].search_reference.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="list-inline-item search-bar-item input-field">
                            {{ search_bar['reference_form'].submit_reference }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="s01 ">
                <p class="lead color-accent">If you have a specific reference to ancient
                    text, enter it here to receive a list of subjects relevant to it.<br>
                    Most author/title styles are accepted. for reference style, please use arabic numerals separated by
                    a period:<br> e.g., 1.5 for book 1, line 5 (or chapter 1, verse 5).<br>
                    Leave reference box empty to search for a whole book.</p>
            </div>
        </div>
   #}


    {#    </div>#}
</div>
