<!--Search Bar -->

{% from 'aux_macros.html' import search_field %}


<div class="s01 flex-column container-fluid ">
    {% if hide_bar %}
        {% set collapse='collapse' %}
    {% endif %}

    <div class="row {{ collapse }}">

        {% if home_flag %}
            {% set url=url_for('search_results') %}
        {% endif %}

        <div id='loading_bar' style='display: none;'>
            <div class="d-flex justify-content-center text-center">
                <div class="spinner-grow text-primary m-5" role="status" style="width: 25rem; height: 25rem;">
                    <span class="sr-only">Loading...</span> {# For accessibility purposes #}
                </div>
            </div>
            {% for _ in range(4) -%}
                {% for col in ['text-primary', 'text-secondary', 'text-success', 'text-danger', 'text-warning',
                            'text-info', 'text-dark', 'text-light', ] -%}
                    <div class="spinner-grow {{ col }}" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                {% endfor -%}
            {% endfor -%}
        </div>

        <div id="search_content">
            {#############################}
            {#     search by Subject     #}
            {#############################}
            <form action='{{ url }}' method="POST" id="search-subject"
                  onsubmit="$('#loading_bar').show();$('#search_content').hide();">
                {{ search_bar['subject_form'].hidden_tag() }} {# csrf_token #}
                <div class="search-bar-kt form-inline container-fluid ">
                    {{ search_field(search_bar['subject_form'].subject_keyword_1) }}
                    {{ search_field(search_bar['subject_form'].subject_keyword_2) }}
                    <div class="list-inline-item">
                        {{ search_bar['subject_form'].submit_subject }} {# <i class="fas fa-search"></i> #}
                    </div>
                </div>
                {% if not hide_filter %}
                    {% include 'bar_filter.html' %}
                {% endif %}
            </form>

            {########################################}
            {# search by Reference - hidden Section #}
            {########################################}
        {% set display_ref_bar = "display-none" %}
            <form action='{{ url }}' method="POST" id="search-ref" class="display-none"
                  onsubmit="$('#loading_bar').show();$('#search_content').hide();">
                {{ search_bar['reference_form'].hidden_tag() }} {# csrf_token #}
                <div class="search-bar-kt form-inline container-fluid">
                    {{ search_field(search_bar['reference_form'].search_author) }}
                    {{ search_field(search_bar['reference_form'].search_work) }}
                    {{ search_field(search_bar['reference_form'].search_reference) }}
                    <div class="list-inline-item">
                        {{ search_bar['reference_form'].submit_reference }} {# <i class="fas fa-search"></i> #}
                    </div>
                </div>
                <div class="s01 ">
                    <p class="lead color-accent small">If you have a specific reference to ancient
                        text, enter it here to receive a list of subjects relevant to it.<br>
                        Most author/title styles are accepted. for reference style, please use arabic numerals
                        separated by a period:<br> e.g., 1.5 for book 1, line 5 (or chapter 1, verse 5).<br>
                        Leave reference box empty to search for a whole book.
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Radio search buttons -->
<form class="container-fluid ">
    <div class='text-center padding-1r small'>
        <div class="inline-radio-span">
            <input id='chkYes' class='inline-radio' type='radio' name='search-radio' value='by_subject' checked/>
            <label for='chkYes' class='inline-radio-label'>Search by Subject</label>
        </div>
        <div class="inline-radio-span">
            <input id='chkNo' class='inline-radio' type='radio' name='search-radio' value='by_reference'/>
            <label for='chkNo' class='inline-radio-label'>Search by Reference</label>
        </div>
    </div>
</form>