{% extends 'layout.html' %}




<div class="container">

    {% for bookref in bookrefs %}
        <div class="row">
            {{ bookref.titleref }}
        </div>
    {% endfor %}


    <div class="row">
        <!--        <form action="." method="POST">-->
        <form action="{{ url_for('check_check') }}" method="POST">
            <label>
                <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
            </label>
            <input type="submit" class="btn btn-success" value="Post comment">
        </form>
    </div>

    <div class="row">
        <!--        <form action="." method="POST">-->
        <form id="new-comment2" name="new-comment-name2" action="{{ url_for('check_check') }}" method="POST">
            <label>
                <textarea class="form-control" name="contents2" placeholder="Enter a comment"></textarea>
            </label>
            <input type="submit" class="btn btn-success" value="Post comment">
        </form>
    </div>

{##}
</div>

{% include 'footer.html' %}


</body>
</html>