<!--- Footer -->
<footer>
    <div class="container-fluid padding" style="width: 100%">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="../static/images/logo-hcmh.jpg" style="max-height: 10rem">
                <!--                <img src="../images/logo-hcmh-pic-bg-clear.png" >-->
            </div>
            <div class="col-md-4">
                <hr class="light">
                <p>050-5050505</p>
                <p>email@email.com</p>
                <p>221 bakers st.</p>
                <p>Ankh-Morpork</p>
                <p>Disc World, 112357</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Hours</h5>
                <hr class="light">
                <p>Days ending with Y: 4am-11pm</p>
                <p>All the rest: That's funny...</p>
                <p>(pun intended)</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>Created by Karina Ture, Dr. Moshe Blidstein and Prof. Dafna Raban</h5>
            </div>
        </div>
    </div>
    <!--- Emoji Section -->
    <button class="fun" style="background-color: dimgrey" data-toggle="collapse" data-target="#emoji">CLICK FOR FUN
    </button>
    <div id="emoji" class="collapse">
        <div class="container-fluid padding container">
            {# Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding. #}
            <div class="row text-center">
                <div class="row text-center">
                    <div class="col-sm-6 col-md-3">
                        <img class="gif" src="../static/images/gif/panda.gif" alt="panda gif"/></div>
                    <div class="col-sm-6 col-md-3">
                        <img class="gif" src="../static/images/gif/chicken.gif" alt="chicken gif"/></div>
                    <div class="col-sm-6 col-md-3">
                        <img class="gif" src="../static/images/gif/unicorn.gif" alt="unicorn gif"/></div>
                    <div class="col-sm-6 col-md-3">
                        <img class="gif" src="../static/images/gif/poo.gif" alt="poo gif"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


