{% extends 'layout.html' %}


{% block content %}
    <div class="formwrapper">
        <h2 class="title">Contact</h2>
        <form method="POST" action="{{ url_for('kaka') }}">
            {#  <form method="POST" action="">#}
{#            Flask wtform forms.validate_on_submit() is always false#}
            {#  The problem is with wtf not finding the CSRF Tokens as part of your form data. Add {{ form.hidden_tag() }} or {{ form.csrf_token }} as the top element of your form.#}
{#            {{ form.hidden_tag() }}#}
            {{ form.csrf_token }}
            <div class="form-field">{{ form.search_keyword_1.label }} {{ form.search_keyword_1 }}
                {% if form.search_keyword_1.errors %}
                    <ul class="errors">
                        {% for error in form.search_keyword_1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.search_keyword_2.label }} {{ form.search_keyword_2 }}
                {#      {% if form.search_keyword_2.errors %}#}
                {#        <ul class="errors">#}
                {#          {% for error in form.search_keyword_2.errors %}#}
                {#            <li>{{ error }}</li>#}
                {#          {% endfor %}#}
                {#        </ul>#}
                {#      {% endif %}#}
            </div>
            <div class="form-field">{{ form.title.label }} {{ form.title }}
                {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.body.label }} {{ form.body }}
                {% if form.body.errors %}
                    <ul class="errors">
                        {% for error in form.body.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
