{% extends 'layout.html' %}

{% block content %}
{#  container-fluid #}

    <div class="form-inline container-fluid search-bar" >
        <div class="s01 container flex-wrap search-bar-content" >
{#            <div style="  margin: 10px;" class="list-inline-item">{{ form1.subject_keyword_1 }}</div>#}
            <div class="list-inline-item search-bar-item">
                {{ form1.subject_keyword_2 }}
            </div>
            <div class="list-inline-item search-bar-item">
                {{ form1.subject_keyword_2 }}
            </div>
            <div class="list-inline-item search-bar-item">
                {{ form1.submit_subject }}
            </div>
        </div>
    </div>

{% endblock %}
