{#<!doctype html>
<html lang="en">
<html>
#}
{#{% extends 'bootstrap/base.html' %}#}

<head>
    {% if ''!=title %}

    <title>Tiresias: The Ancient Mediterranean Religions Source Database</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="description" content={{ description }}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Karina">

    <!--    bootstrap related scripts -->
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!--    for extra fonts and icons  --> {# only needed for the "share" buttons#}
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!--    your own scripts  -->
    <script src="../static/js/gui.js"></script>

    <!--    bootstrap related stylesheets -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!--    your stylesheets  -->
    <link href="../static/css/search-engine-main.css" rel="stylesheet"/>
    <link href="../static/css/bs4-style.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    {#       css for index   #}
    {% block css %} {% endblock %}
    {##}

</head>

<!--<body style="background-color: cornsilk">-->
{#<body>#}
{#{% block navbar %}#}
{% include 'navigation.html' %}
{#{% endblock %}#}


{#  ----------  title ---------- #}
{#<div class="container-fluid padding">#}
{% if title %}
    <div class="container-fluid ">
        <!--    <div class="row welcome text-center">-->
        <div class="row welcome ">
            <div class="col-12">
                <h1 class="display-3" style="text-align: center">
                    {{ title }}
                </h1>
                <h6 class="display-4" style="text-align: center">
                    {% block index_title %}
                        {{ index_title }}
                    {% endblock %}
                </h6>
            </div>
        </div>
    </div>
    <hr>
{% endif %}


{% block app_content %}{% endblock %}
{#{% include 'footer.html' %}#}

{#</body>

</html>#}

{#<div class="col-12">  <!--DO NOT DELETE THIS! -->#}
{#    <h1 class="display-4" style="text-align: center">Tiresias</h1>#}
{#    <h1 class="display-1" style="text-align: center">#}
{#    The Ancient Mediterranean Religions Source Database</h1>#}
{#</div>#}

{#
<div class="status">
  {% if status.active %}
    <p>Activated.</p>
  {% elif status.disabled %}
    <p>Disabled.</p>
  {% else %}
    <p>OH GOD WHAT IS THE STATUS?!</p>
  {% endif %}
</div>
#}
{#{% if status == 1 %} and {% if "active" in status %} are both valid#}
