{% macro disappring_btn(text, rbtn_id, relm_id, class='') -%}
    <button class='{{ class }} btn-rounded'
            data-toggle='collapse'
            data-target='#{{ relm_id }}'
            type='button'
            onclick="this.style.display='none';"
            {#                    onclick="more_less_info('{{ rbtn_id }}','{{ relm_id }}')"#}
            id={{ rbtn_id }}>
        {{ text }}
    </button>
{%- endmacro %}


{% macro result_item(index = 0, author='', title='', books={}, refs=[], num='') -%}
    {% set relm_id='refs'~num %}
    {% set rbtn_id='refsbtn'~num %}
    <div class="container-fluid">
        <h4 class="display-inline">
            {{ index }}. {{ author }}, <em>{{ title }} </em>
        </h4>
                    <a href="#link" class="btn btn-sm btn-primary float-right" role="button" > For more information </a>

        <div class="padding-1r">
            {% for book in books %}
                <em><strong>{{ book.title_full }}</strong></em> &nbsp; &nbsp; pages:
                {#                {{ book.pages }}#}
                {% for page in book.pages -%}
                    <a href="{{ link|value_or_empty }}"> {{ page }} </a>
                    {#                    {% if loop.index!=(books|length) %}, {% endif %}#}
                {%- endfor %}
            <br>
            {% endfor %}
        </div>

        <span>
{#            <em   class="display-none" id={{ relm_id }}> {{ refs }} </em>#}
            <em class="collapse inline padding-left-2r" id={{ relm_id }}> {{ refs }} </em>
            {{ disappring_btn( text='references: ', rbtn_id = rbtn_id, relm_id = relm_id, class='btn-sm') }}
        </span>
    </div>
{%- endmacro %}

{% macro category_head(category='', id='', res_num='', value='') -%}
    <div class="container-fluid padding-bot-2" id="{{ id }}">
        <div class="col-12  bgn-light-second"> <!--todo move the style to css-->
            <h1 class="">{{ category }} {{ res_num }}</h1>
            {#            <h1 class="display-4 welcome text-center">Tiresias: The Ancient Mediterranean Religions Source Database</h1>#}
        </div>
    </div>
{%- endmacro %}

