
<nav class="navbar navbar-expand-md navbar-light bgn-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="row">
                <img class="img-fluid " id="logo" src="../static/favicon.ico"
                     style="max-height: 3rem"
                     alt="h.c.m.h logo">
                <div class="navbar-title">
                    <h1 id="navbar-title-h1-id"><b>Tiresias</b></h1>
                    <p id="navbar-subtitle">The Ancient Mediterranean Religions Source Database</p>
                </div>
            </div>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="/#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/#about-hook">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/book-indices">Sources</a></li>
            <li class="nav-item"><a class="nav-link" href="/subject-list">Subjects</a></li>
            <li class="nav-item"><a class="nav-link" href="/#contact">Connect</a></li>
        </ul>
    </div>
</nav>
