{% extends 'layout.html' %}
{% from 'macros.html' import disappring_btn %}

{% block app_content %}

    <h4 class="s01 welcome">
        {#    <h4 style="background-color: var(--secondary-color-light); padding: 5%">#}
        Total Number of Subjects Currently Included in Database:
        <em style='color: var(--accent-color)'>&nbsp {{ total }}</em>
    </h4><br>

    <!------------------------------------------->
    <!-------- Search & Filter Forms ------------>
    <!------------------------------------------->
    <div class="container">
        {{ disappring_btn( text='Search Subject in the Database', rbtn_id = 'show-search-btn', relm_id = 'search-subject',
    class='s01 btn-primary') }}
    </div>

    {% with hide_bar=true %}
        {% include 'search_bar.html' %}
    {% endwith %}
    <br>


    <div class="container">
        {# Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding. #}

        {#        <table border="1" class="dataframe">#}
        <table class='table table-hover'>
            {#   <thead style='  background-color: var(--accent-color); text-align: right;'>#}
            <thead style='  background-color: var(--secondary-color-light)'>
            <tr>
                {#  this column is for the index #}
                <th>Subject</th>
                <th>Number of References in DB</th>
            </tr>
            </thead>
            <tbody>
            {% for row in subjects.items %}
                <tr>
                    {# {{ loop.index0 }}</th>#}
                    <td>{{ row.subject }}</td>
                    <td style="text-align: center">{{ row.Csum }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {# todo make bigger #}
        <!------------------------------------------->
        <!---------- Prev & Next Buttons ------------>
        <!------------------------------------------->
        {% if prev_url %}
            <a href='{{ prev_url }}'>Prev</a>
        {% endif %}
        &nbsp &nbsp
        {% if next_url %}
            <a href='{{ next_url }}'>Next</a>
        {% endif %}

        <br><br><br><br><br>
        {% for i in range(11) %}
            {{ i }}
        {% endfor %}

    </div>
    <script src="../static/js/script.js"></script>

{% endblock %}





