{% extends 'layout.html' %}
{% from 'aux_macros.html' import disappearing_btn, table_macro %}

{% block app_content %}

    <!-- Search & Filter Forms -->
    <div class="container padding-bot-2">
        {{ disappearing_btn('Search Subjects', rbtn_id = 'show-search-btn', relm_id = 'search-bar-row',
    class='s01 btn-primary') }}
    </div>

    {#    <h4 class="s01 head-title padding-bot-1">#}
    {#        Total Number of Subjects Currently Included in Database:#}
    {#        <em class="color-accent padding-left-2"> {{ total }}</em>#}
    {#    </h4>#}

    {% with hide_bar=true %}
        {% include 'bar_search.html' %}
    {% endwith %}
    <br>


    <div class="container">
        {# Rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding. #}
        {{ table_macro(
        title='Total Number of Subjects Currently Included in Database:
        <em class="color-accent padding-left-2"> ' + total|string +' </em>',
        head_row=('Subject','Number of References in the Database'),
        tuple_list=subjects) }}

        {# todo make bigger #}
        <!-- Prev & Next Buttons -->
        {% if prev_url %}
            <div class="padding-bot-5 text-center">
                <a class="page-link pagination" href='{{ prev_url }}'>Prev</a>
            </div>
        {% endif %}
        {% if next_url %}
            <div class="padding-bot-5 text-center">
                <a href='{{ next_url }}'>Next</a>
            </div>
        {% endif %}

    </div>
    {#    <script src="../static/js/script.js"></script>#}

{% endblock %}





